@import '../../../styles/settings/index';

.modal {
  padding: 50px 0;
  text-align: center;
  max-width: 620px;
  margin: 0 auto;
  &__name {
    font-family: "Helvetica";
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
  }
  &__bids {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto 45px;
    text-align: left;
    &__item {
      font-size: 18px;
      font-style: italic;
      line-height: 22px;
      span {
        display: block;
        font-family: "Helvetica";
        font-size: 35px;
        font-style: normal;
        line-height: 42px;
      }
    }
  }
  &__field {
    margin-bottom: 52px;
    text-align: left;
    span {
      display: block;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
  &__button {
    margin: 10px;
  }
  &__picker {
    display: inline-flex;
    align-items: center;
    width: 160px;
  }
  &__price {
    height: 50px;
    &__left {
      vertical-align: middle;
      border: 1px solid black;
      border-bottom-left-radius: 5px;
      border-top-left-radius: 5px;
      display: inline-block;
      height: 50px;
      width: 130px;
      padding-left: 19px;
      padding-top: 8px;
    }
    &__value {
      vertical-align: middle;
      border-bottom: 1px solid black;
      border-top: 1px solid black;
      display: inline-block;
      height: 50px;
      width: calc(100% - 260px);
      padding: 4px;
    }
    &__right {
      vertical-align: middle;
      border: 1px solid black;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      display: inline-block;
      justify-content: center;
      height: 50px;
      width: 130px;
      padding-top: 13px;
      text-align: center;
    }
    &__after {
      font-family: "Helvetica";
      font-size: 12px;
      margin: 8px 0 26px;
    }
  }
  &__agreement {
    &__radio {
      display: inline-block;
      width: 40px;
      vertical-align: top;
    }
    &__text {
      display: inline-block;
      width: calc(100% - 45px);
      font-size: 18px;
      font-style: italic;
      vertical-align: top;
    }
  }
  &__select{
    -moz-appearance: none;
    -webkit-appearance: none;
    border: none;
    position: relative;
    outline: none;
    padding: 5px;
    padding-right: 40px;
    background-image: url("/images/select-drop.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  &__select:after{
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background-image: url("/images/select-drop.png");
    position: absolute;
    right: 5px;
    top: 5px;
  }

}
.label_input {
  color: #000000;
  font-family: "Schoolbook";
  font-size: 14px;
  font-style: italic;
  text-transform: uppercase;
  margin-bottom: 10px;
}