@import '/styles/settings/index.scss';

.explore{
  &__title {
    font-family: $helvetica-regular;
    font-size: 35px;
    line-height: 42px;
    margin: 0;
    text-transform: uppercase;
  }
  &__navigation {
    text-align: right;
  }
  &__head {
    margin: 13px 0 30px;
  }
  &__head__wrap {
    display: flex;
    justify-content: space-between;
  }
  &__menu {
    display: inline-block;
    vertical-align: top;
  }
  &__search {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 0 0;
  }
  &__content {
    margin: 0 -10px;
  }
  &__button {
    text-align: center;
    margin-top: 33px;
  }
}