.modalNetworks {
  display: flex;
  flex-direction: column;
  &__item {
    height: 52px;
  }
  &__networkPreview {
    display: flex;
    span {
      margin-right: 6px;
    }
    p {
      margin: 0;
    }
  }
  &__buttonClose {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    width: 130px;
    height: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    margin: 0 auto;
    &:hover {
      background: rgb(0, 0, 0) !important;
      color: rgb(255, 255, 255) !important;
    }
    &:active {
      background: rgb(0, 0, 0) !important;
      border: none !important;
      color: rgb(255, 255, 255) !important;
    }
    &::before {
      background: rgb(0, 0, 0) !important;
    }
  }
}
