@import '/styles/settings/index.scss';

.root {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landscape {
  @include aspect-ratio(16, 9);
}

.square {
  @include aspect-ratio(1, 1);
}

.backdrop {
  &:after {
    background-color: rgba(0, 0, 0, 0.4);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.inner {
  z-index: 10;
}
