//-- Mixin for Flexbox
//------------------------------------------------------

@mixin flex($x: null, $y: null) {
  align-items: $y;
  display: flex;
  @if ($x) {
    justify-content: $x;
  }
}

@function flex-width($width, $space-between) {
  @return (calc(100% - #{$width} - #{$space-between}));
}

@mixin flex-component-width($width, $space-between: null) {
  @if ($space-between != null) {
    flex: 0 0 flex-width($width, $space-between);
    max-width: flex-width($width, $space-between);
  } @else {
    flex: 0 0 $width;
    max-width: $width;
  }
}